/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tw-input {
    @apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full pl-2;
    height: 42px;
  }
  .tw-input-pass {
    @apply bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-green-500 focus:border-green-500 block w-full pl-2;
    height: 42px;
  }
  .tw-input-fail {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500 block w-full pl-2;
    height: 42px;
  }
  .tw-chart-container {
    @apply flex flex-wrap;
  }
  .tw-chart-container > * {
    /* @apply grow border; */
    @apply min-w-[300px];
  }
  .tw-chart-container > :first-child {
    /* @apply grow border; */
    @apply grow;
  }
}

/* style sheet for "A4" printing */
/* @media print and (width: 21cm) and (height: 29.7cm) {
  @page {
     margin: 3cm;
  }
} */

/* style sheet for "letter" printing */
/* @media print and (width: 8.5in) and (height: 11in) {
 @page {
     margin: 1in;
 }
} */

/* A4 Landscape*/
/* @page {
 size: A4;
 margin: 10%;
 margin: 1mm;
 transform: scale(0.7);
 transform-origin: 0 0;
} */

/* @media print {
  body {
      margin-top: 5px;
      margin-left: 10px;
      transform: scale(0.7);
      transform-origin: 0 0;
  }
} */
@media print {
  @page {
    margin: 10px;
    /* margin-left: 0; */
  }
  body {
    /* margin: 1%; */
    zoom: 70%;
    /* transform: scale(.7); */
    /* transform-origin: 0 0; */
  }
}
/* @media print { */
  /* @page { */
    /* size: A4; */
    /* margin: 2mm; */
    /* transform: scale(0.1); */
  /* } */
  /* body {
    margin: 2mm;
    transform: scale(.7);
    transform-origin: 0 0;
 } */

  /* body { margin: 20mm; } */

  /* .print-header {
    position: fixed;
    top: -10mm;
  } */
/* } */