/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tw-input {
    @apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }
  .tw-input-pass {
    @apply bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-green-500 focus:border-green-500 block w-full p-2.5;
  }
  .tw-input-fail {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500 block w-full p-2.5;
  }
  .tw-chart-container {
    @apply flex flex-wrap;
  }
  .tw-chart-container > * {
    /* @apply grow border; */
    @apply min-w-[300px];
  }
  .tw-chart-container > :first-child {
    /* @apply grow border; */
    @apply grow;
  }
}